<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.AuthorityMapper">
  <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.AuthorityPO">
    <id column="authority_id" jdbcType="BIGINT" property="authorityId" />
    <result column="name" jdbcType="CHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    authority_id, `name`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_authority
    where authority_id = #{authorityId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_authority
    where authority_id = #{authorityId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.talentcard.common.pojo.AuthorityPO">
    insert into t_authority (authority_id, `name`)
    values (#{authorityId,jdbcType=BIGINT}, #{name,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.talentcard.common.pojo.AuthorityPO">
    insert into t_authority
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authorityId != null">
        authority_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authorityId != null">
        #{authorityId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.AuthorityPO">
    update t_authority
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=CHAR},
      </if>
    </set>
    where authority_id = #{authorityId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.AuthorityPO">
    update t_authority
    set `name` = #{name,jdbcType=CHAR}
    where authority_id = #{authorityId,jdbcType=BIGINT}
  </update>

  <select id="queryByAuthorityId" parameterType="java.lang.Long" resultType="java.lang.String">
    select `name`
    from t_authority
    where authority_id = #{authorityId,jdbcType=BIGINT}
  </select>

<!--  <select id="queryAuthority" resultType="BaseResultMap">-->
<!--    select-->
<!--    <include refid="Base_Column_List" />-->
<!--    from t_authority-->
<!--  </select>-->

</mapper>