<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.AuthenticationMapper">
  <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.AuthenticationPO">
    <id column="auth_id" jdbcType="BIGINT" property="authId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="political_status" jdbcType="TINYINT" property="politicalStatus" />
    <result column="education_background" jdbcType="TINYINT" property="educationBackground" />
    <result column="school" jdbcType="CHAR" property="school" />
    <result column="famous_school" jdbcType="TINYINT" property="famousSchool" />
    <result column="major" jdbcType="CHAR" property="major" />
    <result column="education_certification" jdbcType="CHAR" property="educationCertification" />
    <result column="professional_title" jdbcType="CHAR" property="professionalTitle" />
    <result column="professional_title_info" jdbcType="CHAR" property="professionalTitleInfo" />
    <result column="professional_qualification" jdbcType="CHAR" property="professionalQualification" />
    <result column="professional_qualification_info" jdbcType="CHAR" property="professionalQualificationInfo" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
  </resultMap>
  <sql id="Base_Column_List">
    auth_id, user_id, political_status, education_background, school, famous_school, 
    major, education_certification, professional_title, professional_title_info, professional_qualification, 
    professional_qualification_info, `status`, create_time, update_time, dr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_card_authentication
    where auth_id = #{authId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_card_authentication
    where auth_id = #{authId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.talentcard.common.pojo.AuthenticationPO">
    insert into t_card_authentication (auth_id, user_id, political_status, 
      education_background, school, famous_school, 
      major, education_certification, professional_title, 
      professional_title_info, professional_qualification, 
      professional_qualification_info, `status`, create_time, 
      update_time, dr)
    values (#{authId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{politicalStatus,jdbcType=TINYINT}, 
      #{educationBackground,jdbcType=TINYINT}, #{school,jdbcType=CHAR}, #{famousSchool,jdbcType=TINYINT}, 
      #{major,jdbcType=CHAR}, #{educationCertification,jdbcType=CHAR}, #{professionalTitle,jdbcType=CHAR}, 
      #{professionalTitleInfo,jdbcType=CHAR}, #{professionalQualification,jdbcType=CHAR}, 
      #{professionalQualificationInfo,jdbcType=CHAR}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{dr,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.talentcard.common.pojo.AuthenticationPO">
    insert into t_card_authentication
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authId != null">
        auth_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="politicalStatus != null">
        political_status,
      </if>
      <if test="educationBackground != null">
        education_background,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="famousSchool != null">
        famous_school,
      </if>
      <if test="major != null">
        major,
      </if>
      <if test="educationCertification != null">
        education_certification,
      </if>
      <if test="professionalTitle != null">
        professional_title,
      </if>
      <if test="professionalTitleInfo != null">
        professional_title_info,
      </if>
      <if test="professionalQualification != null">
        professional_qualification,
      </if>
      <if test="professionalQualificationInfo != null">
        professional_qualification_info,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authId != null">
        #{authId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="politicalStatus != null">
        #{politicalStatus,jdbcType=TINYINT},
      </if>
      <if test="educationBackground != null">
        #{educationBackground,jdbcType=TINYINT},
      </if>
      <if test="school != null">
        #{school,jdbcType=CHAR},
      </if>
      <if test="famousSchool != null">
        #{famousSchool,jdbcType=TINYINT},
      </if>
      <if test="major != null">
        #{major,jdbcType=CHAR},
      </if>
      <if test="educationCertification != null">
        #{educationCertification,jdbcType=CHAR},
      </if>
      <if test="professionalTitle != null">
        #{professionalTitle,jdbcType=CHAR},
      </if>
      <if test="professionalTitleInfo != null">
        #{professionalTitleInfo,jdbcType=CHAR},
      </if>
      <if test="professionalQualification != null">
        #{professionalQualification,jdbcType=CHAR},
      </if>
      <if test="professionalQualificationInfo != null">
        #{professionalQualificationInfo,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.AuthenticationPO">
    update t_card_authentication
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="politicalStatus != null">
        political_status = #{politicalStatus,jdbcType=TINYINT},
      </if>
      <if test="educationBackground != null">
        education_background = #{educationBackground,jdbcType=TINYINT},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=CHAR},
      </if>
      <if test="famousSchool != null">
        famous_school = #{famousSchool,jdbcType=TINYINT},
      </if>
      <if test="major != null">
        major = #{major,jdbcType=CHAR},
      </if>
      <if test="educationCertification != null">
        education_certification = #{educationCertification,jdbcType=CHAR},
      </if>
      <if test="professionalTitle != null">
        professional_title = #{professionalTitle,jdbcType=CHAR},
      </if>
      <if test="professionalTitleInfo != null">
        professional_title_info = #{professionalTitleInfo,jdbcType=CHAR},
      </if>
      <if test="professionalQualification != null">
        professional_qualification = #{professionalQualification,jdbcType=CHAR},
      </if>
      <if test="professionalQualificationInfo != null">
        professional_qualification_info = #{professionalQualificationInfo,jdbcType=CHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
    </set>
    where auth_id = #{authId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.AuthenticationPO">
    update t_card_authentication
    set user_id = #{userId,jdbcType=BIGINT},
      political_status = #{politicalStatus,jdbcType=TINYINT},
      education_background = #{educationBackground,jdbcType=TINYINT},
      school = #{school,jdbcType=CHAR},
      famous_school = #{famousSchool,jdbcType=TINYINT},
      major = #{major,jdbcType=CHAR},
      education_certification = #{educationCertification,jdbcType=CHAR},
      professional_title = #{professionalTitle,jdbcType=CHAR},
      professional_title_info = #{professionalTitleInfo,jdbcType=CHAR},
      professional_qualification = #{professionalQualification,jdbcType=CHAR},
      professional_qualification_info = #{professionalQualificationInfo,jdbcType=CHAR},
      `status` = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT}
    where auth_id = #{authId,jdbcType=BIGINT}
  </update>
</mapper>