<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.AuthenticationMapper">
  <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.Authentication">
    <id column="auth_id" jdbcType="BIGINT" property="authId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="political_status" jdbcType="TINYINT" property="politicalStatus" />
    <result column="education_background" jdbcType="TINYINT" property="educationBackground" />
    <result column="school" jdbcType="CHAR" property="school" />
    <result column="fasmou_school" jdbcType="TINYINT" property="fasmouSchool" />
    <result column="major" jdbcType="CHAR" property="major" />
    <result column="education_certification" jdbcType="CHAR" property="educationCertification" />
    <result column="profssional_title" jdbcType="CHAR" property="profssionalTitle" />
    <result column="profssional_title_info" jdbcType="CHAR" property="profssionalTitleInfo" />
    <result column="professional_qaulification" jdbcType="CHAR" property="professionalQaulification" />
    <result column="professional_qaulification_info" jdbcType="CHAR" property="professionalQaulificationInfo" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="upadate_time" jdbcType="TIMESTAMP" property="upadateTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
  </resultMap>
  <sql id="Base_Column_List">
    auth_id, user_id, political_status, education_background, school, fasmou_school,
    major, education_certification, profssional_title, profssional_title_info, professional_qaulification,
    professional_qaulification_info, `status`, create_time, upadate_time, dr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_card_authentication
    where auth_id = #{authId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_card_authentication
    where auth_id = #{authId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.talentcard.common.pojo.Authentication">
    insert into t_card_authentication (auth_id, user_id, political_status,
      education_background, school, fasmou_school,
      major, education_certification, profssional_title,
      profssional_title_info, professional_qaulification,
      professional_qaulification_info, `status`, create_time,
      upadate_time, dr)
    values (#{authId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{politicalStatus,jdbcType=TINYINT},
      #{educationBackground,jdbcType=TINYINT}, #{school,jdbcType=CHAR}, #{fasmouSchool,jdbcType=TINYINT},
      #{major,jdbcType=CHAR}, #{educationCertification,jdbcType=CHAR}, #{profssionalTitle,jdbcType=CHAR},
      #{profssionalTitleInfo,jdbcType=CHAR}, #{professionalQaulification,jdbcType=CHAR},
      #{professionalQaulificationInfo,jdbcType=CHAR}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP},
      #{upadateTime,jdbcType=TIMESTAMP}, #{dr,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.talentcard.common.pojo.Authentication">
    insert into t_card_authentication
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authId != null">
        auth_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="politicalStatus != null">
        political_status,
      </if>
      <if test="educationBackground != null">
        education_background,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="fasmouSchool != null">
        fasmou_school,
      </if>
      <if test="major != null">
        major,
      </if>
      <if test="educationCertification != null">
        education_certification,
      </if>
      <if test="profssionalTitle != null">
        profssional_title,
      </if>
      <if test="profssionalTitleInfo != null">
        profssional_title_info,
      </if>
      <if test="professionalQaulification != null">
        professional_qaulification,
      </if>
      <if test="professionalQaulificationInfo != null">
        professional_qaulification_info,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="upadateTime != null">
        upadate_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authId != null">
        #{authId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="politicalStatus != null">
        #{politicalStatus,jdbcType=TINYINT},
      </if>
      <if test="educationBackground != null">
        #{educationBackground,jdbcType=TINYINT},
      </if>
      <if test="school != null">
        #{school,jdbcType=CHAR},
      </if>
      <if test="fasmouSchool != null">
        #{fasmouSchool,jdbcType=TINYINT},
      </if>
      <if test="major != null">
        #{major,jdbcType=CHAR},
      </if>
      <if test="educationCertification != null">
        #{educationCertification,jdbcType=CHAR},
      </if>
      <if test="profssionalTitle != null">
        #{profssionalTitle,jdbcType=CHAR},
      </if>
      <if test="profssionalTitleInfo != null">
        #{profssionalTitleInfo,jdbcType=CHAR},
      </if>
      <if test="professionalQaulification != null">
        #{professionalQaulification,jdbcType=CHAR},
      </if>
      <if test="professionalQaulificationInfo != null">
        #{professionalQaulificationInfo,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upadateTime != null">
        #{upadateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.Authentication">
    update t_card_authentication
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="politicalStatus != null">
        political_status = #{politicalStatus,jdbcType=TINYINT},
      </if>
      <if test="educationBackground != null">
        education_background = #{educationBackground,jdbcType=TINYINT},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=CHAR},
      </if>
      <if test="fasmouSchool != null">
        fasmou_school = #{fasmouSchool,jdbcType=TINYINT},
      </if>
      <if test="major != null">
        major = #{major,jdbcType=CHAR},
      </if>
      <if test="educationCertification != null">
        education_certification = #{educationCertification,jdbcType=CHAR},
      </if>
      <if test="profssionalTitle != null">
        profssional_title = #{profssionalTitle,jdbcType=CHAR},
      </if>
      <if test="profssionalTitleInfo != null">
        profssional_title_info = #{profssionalTitleInfo,jdbcType=CHAR},
      </if>
      <if test="professionalQaulification != null">
        professional_qaulification = #{professionalQaulification,jdbcType=CHAR},
      </if>
      <if test="professionalQaulificationInfo != null">
        professional_qaulification_info = #{professionalQaulificationInfo,jdbcType=CHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upadateTime != null">
        upadate_time = #{upadateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
    </set>
    where auth_id = #{authId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.Authentication">
    update t_card_authentication
    set user_id = #{userId,jdbcType=BIGINT},
      political_status = #{politicalStatus,jdbcType=TINYINT},
      education_background = #{educationBackground,jdbcType=TINYINT},
      school = #{school,jdbcType=CHAR},
      fasmou_school = #{fasmouSchool,jdbcType=TINYINT},
      major = #{major,jdbcType=CHAR},
      education_certification = #{educationCertification,jdbcType=CHAR},
      profssional_title = #{profssionalTitle,jdbcType=CHAR},
      profssional_title_info = #{profssionalTitleInfo,jdbcType=CHAR},
      professional_qaulification = #{professionalQaulification,jdbcType=CHAR},
      professional_qaulification_info = #{professionalQaulificationInfo,jdbcType=CHAR},
      `status` = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      upadate_time = #{upadateTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT}
    where auth_id = #{authId,jdbcType=BIGINT}
  </update>
</mapper>