<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.CardMapper">
  <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.CardPO">
    <id column="card_id" jdbcType="BIGINT" property="cardId" />
    <result column="title" jdbcType="CHAR" property="title" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="initial_num" jdbcType="CHAR" property="initialNum" />
    <result column="curr_num" jdbcType="BIGINT" property="currNum" />
    <result column="description" jdbcType="CHAR" property="description" />
    <result column="picture" jdbcType="CHAR" property="picture" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    card_id, title, `name`, initial_num, curr_num, description, picture, create_time, 
    `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_card
    where card_id = #{cardId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_card
    where card_id = #{cardId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.talentcard.common.pojo.CardPO">
    insert into t_card (card_id, title, `name`, 
      initial_num, curr_num, description, 
      picture, create_time, `status`
      )
    values (#{cardId,jdbcType=BIGINT}, #{title,jdbcType=CHAR}, #{name,jdbcType=CHAR}, 
      #{initialNum,jdbcType=CHAR}, #{currNum,jdbcType=BIGINT}, #{description,jdbcType=CHAR}, 
      #{picture,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.talentcard.common.pojo.CardPO">
    insert into t_card
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cardId != null">
        card_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="initialNum != null">
        initial_num,
      </if>
      <if test="currNum != null">
        curr_num,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cardId != null">
        #{cardId,jdbcType=BIGINT},
      </if>
      <if test="title != null">
        #{title,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="initialNum != null">
        #{initialNum,jdbcType=CHAR},
      </if>
      <if test="currNum != null">
        #{currNum,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        #{description,jdbcType=CHAR},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.CardPO">
    update t_card
    <set>
      <if test="title != null">
        title = #{title,jdbcType=CHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=CHAR},
      </if>
      <if test="initialNum != null">
        initial_num = #{initialNum,jdbcType=CHAR},
      </if>
      <if test="currNum != null">
        curr_num = #{currNum,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=CHAR},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where card_id = #{cardId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.CardPO">
    update t_card
    set title = #{title,jdbcType=CHAR},
      `name` = #{name,jdbcType=CHAR},
      initial_num = #{initialNum,jdbcType=CHAR},
      curr_num = #{currNum,jdbcType=BIGINT},
      description = #{description,jdbcType=CHAR},
      picture = #{picture,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=TINYINT}
    where card_id = #{cardId,jdbcType=BIGINT}
  </update>

  <select id="findDefaultCard" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_card
    where status = 1
    limit 1
  </select>
</mapper>