<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.CardMapper">
  <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.Card">
    <id column="card_type_id" jdbcType="BIGINT" property="cardTypeId" />
    <result column="card_name" jdbcType="CHAR" property="cardName" />
    <result column="card_title" jdbcType="CHAR" property="cardTitle" />
    <result column="initial_card_number" jdbcType="CHAR" property="initialCardNumber" />
    <result column="card_description" jdbcType="CHAR" property="cardDescription" />
    <result column="background_picture_url" jdbcType="CHAR" property="backgroundPictureUrl" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="upadate_time" jdbcType="TIMESTAMP" property="upadateTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
    <result column="logo_url" jdbcType="CHAR" property="logoUrl" />
    <result column="prerogative" jdbcType="CHAR" property="prerogative" />
    <result column="brand_name" jdbcType="CHAR" property="brandName" />
    <result column="color" jdbcType="CHAR" property="color" />
    <result column="bonus_rule" jdbcType="CHAR" property="bonusRule" />
    <result column="remaind_time" jdbcType="BIGINT" property="remaindTime" />
  </resultMap>
  <sql id="Base_Column_List">
    card_type_id, card_name, card_title, initial_card_number, card_description, background_picture_url, 
    `status`, create_time, upadate_time, dr, logo_url, prerogative, brand_name, color, 
    bonus_rule, remaind_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_card_type
    where card_type_id = #{cardTypeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_card_type
    where card_type_id = #{cardTypeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.talentcard.common.pojo.Card">
    insert into t_card_type (card_type_id, card_name, card_title, 
      initial_card_number, card_description, background_picture_url, 
      `status`, create_time, upadate_time, 
      dr, logo_url, prerogative, 
      brand_name, color, bonus_rule, 
      remaind_time)
    values (#{cardTypeId,jdbcType=BIGINT}, #{cardName,jdbcType=CHAR}, #{cardTitle,jdbcType=CHAR}, 
      #{initialCardNumber,jdbcType=CHAR}, #{cardDescription,jdbcType=CHAR}, #{backgroundPictureUrl,jdbcType=CHAR}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{upadateTime,jdbcType=TIMESTAMP}, 
      #{dr,jdbcType=TINYINT}, #{logoUrl,jdbcType=CHAR}, #{prerogative,jdbcType=CHAR}, 
      #{brandName,jdbcType=CHAR}, #{color,jdbcType=CHAR}, #{bonusRule,jdbcType=CHAR}, 
      #{remaindTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.talentcard.common.pojo.Card">
    insert into t_card_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cardTypeId != null">
        card_type_id,
      </if>
      <if test="cardName != null">
        card_name,
      </if>
      <if test="cardTitle != null">
        card_title,
      </if>
      <if test="initialCardNumber != null">
        initial_card_number,
      </if>
      <if test="cardDescription != null">
        card_description,
      </if>
      <if test="backgroundPictureUrl != null">
        background_picture_url,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="upadateTime != null">
        upadate_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="logoUrl != null">
        logo_url,
      </if>
      <if test="prerogative != null">
        prerogative,
      </if>
      <if test="brandName != null">
        brand_name,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="bonusRule != null">
        bonus_rule,
      </if>
      <if test="remaindTime != null">
        remaind_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cardTypeId != null">
        #{cardTypeId,jdbcType=BIGINT},
      </if>
      <if test="cardName != null">
        #{cardName,jdbcType=CHAR},
      </if>
      <if test="cardTitle != null">
        #{cardTitle,jdbcType=CHAR},
      </if>
      <if test="initialCardNumber != null">
        #{initialCardNumber,jdbcType=CHAR},
      </if>
      <if test="cardDescription != null">
        #{cardDescription,jdbcType=CHAR},
      </if>
      <if test="backgroundPictureUrl != null">
        #{backgroundPictureUrl,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upadateTime != null">
        #{upadateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
      <if test="logoUrl != null">
        #{logoUrl,jdbcType=CHAR},
      </if>
      <if test="prerogative != null">
        #{prerogative,jdbcType=CHAR},
      </if>
      <if test="brandName != null">
        #{brandName,jdbcType=CHAR},
      </if>
      <if test="color != null">
        #{color,jdbcType=CHAR},
      </if>
      <if test="bonusRule != null">
        #{bonusRule,jdbcType=CHAR},
      </if>
      <if test="remaindTime != null">
        #{remaindTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.Card">
    update t_card_type
    <set>
      <if test="cardName != null">
        card_name = #{cardName,jdbcType=CHAR},
      </if>
      <if test="cardTitle != null">
        card_title = #{cardTitle,jdbcType=CHAR},
      </if>
      <if test="initialCardNumber != null">
        initial_card_number = #{initialCardNumber,jdbcType=CHAR},
      </if>
      <if test="cardDescription != null">
        card_description = #{cardDescription,jdbcType=CHAR},
      </if>
      <if test="backgroundPictureUrl != null">
        background_picture_url = #{backgroundPictureUrl,jdbcType=CHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upadateTime != null">
        upadate_time = #{upadateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
      <if test="logoUrl != null">
        logo_url = #{logoUrl,jdbcType=CHAR},
      </if>
      <if test="prerogative != null">
        prerogative = #{prerogative,jdbcType=CHAR},
      </if>
      <if test="brandName != null">
        brand_name = #{brandName,jdbcType=CHAR},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=CHAR},
      </if>
      <if test="bonusRule != null">
        bonus_rule = #{bonusRule,jdbcType=CHAR},
      </if>
      <if test="remaindTime != null">
        remaind_time = #{remaindTime,jdbcType=BIGINT},
      </if>
    </set>
    where card_type_id = #{cardTypeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.Card">
    update t_card_type
    set card_name = #{cardName,jdbcType=CHAR},
      card_title = #{cardTitle,jdbcType=CHAR},
      initial_card_number = #{initialCardNumber,jdbcType=CHAR},
      card_description = #{cardDescription,jdbcType=CHAR},
      background_picture_url = #{backgroundPictureUrl,jdbcType=CHAR},
      `status` = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      upadate_time = #{upadateTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT},
      logo_url = #{logoUrl,jdbcType=CHAR},
      prerogative = #{prerogative,jdbcType=CHAR},
      brand_name = #{brandName,jdbcType=CHAR},
      color = #{color,jdbcType=CHAR},
      bonus_rule = #{bonusRule,jdbcType=CHAR},
      remaind_time = #{remaindTime,jdbcType=BIGINT}
    where card_type_id = #{cardTypeId,jdbcType=BIGINT}
  </update>
</mapper>