<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.CertApprovalMapper">
  <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.CertApprovalPO">
    <id column="approval_id" jdbcType="BIGINT" property="approvalId" />
    <result column="cert_id" jdbcType="BIGINT" property="certId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="card_id" jdbcType="BIGINT" property="cardId" />
    <result column="category" jdbcType="CHAR" property="category" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="result" jdbcType="TINYINT" property="result" />
    <result column="opinion" jdbcType="CHAR" property="opinion" />
  </resultMap>
  <sql id="Base_Column_List">
    approval_id, cert_id, create_time, `type`, card_id, category, user_id, update_time, 
    `result`, opinion
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_cert_approval
    where approval_id = #{approvalId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_cert_approval
    where approval_id = #{approvalId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.talentcard.common.pojo.CertApprovalPO">
    insert into t_cert_approval (approval_id, cert_id, create_time, 
      `type`, card_id, category, 
      user_id, update_time, `result`, 
      opinion)
    values (#{approvalId,jdbcType=BIGINT}, #{certId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=TINYINT}, #{cardId,jdbcType=BIGINT}, #{category,jdbcType=CHAR}, 
      #{userId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{result,jdbcType=TINYINT}, 
      #{opinion,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.talentcard.common.pojo.CertApprovalPO">
    insert into t_cert_approval
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="approvalId != null">
        approval_id,
      </if>
      <if test="certId != null">
        cert_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="cardId != null">
        card_id,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="result != null">
        `result`,
      </if>
      <if test="opinion != null">
        opinion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="approvalId != null">
        #{approvalId,jdbcType=BIGINT},
      </if>
      <if test="certId != null">
        #{certId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="cardId != null">
        #{cardId,jdbcType=BIGINT},
      </if>
      <if test="category != null">
        #{category,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null">
        #{result,jdbcType=TINYINT},
      </if>
      <if test="opinion != null">
        #{opinion,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.CertApprovalPO">
    update t_cert_approval
    <set>
      <if test="certId != null">
        cert_id = #{certId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
      <if test="cardId != null">
        card_id = #{cardId,jdbcType=BIGINT},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=CHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null">
        `result` = #{result,jdbcType=TINYINT},
      </if>
      <if test="opinion != null">
        opinion = #{opinion,jdbcType=CHAR},
      </if>
    </set>
    where approval_id = #{approvalId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.CertApprovalPO">
    update t_cert_approval
    set cert_id = #{certId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      `type` = #{type,jdbcType=TINYINT},
      card_id = #{cardId,jdbcType=BIGINT},
      category = #{category,jdbcType=CHAR},
      user_id = #{userId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      `result` = #{result,jdbcType=TINYINT},
      opinion = #{opinion,jdbcType=CHAR}
    where approval_id = #{approvalId,jdbcType=BIGINT}
  </update>

<!--  根据人才id和 认证id进行认证审批表的查询-->
  <select id="queryApprovalById" resultType="com.talentcard.common.bo.CertApprovalBO">
    select cp.approval_id as approvalId, cp.cert_id as certId, cp.create_time as createTime, cp.`type`,
     cp.card_id as cardId, cp.category, cp.`result`, cp.opinion, cp.update_time as updateTime, u.username as name
    from t_cert_approval cp
    left join t_certification c on c.cert_id = cp.cert_id
    left join t_talent t on t.talent_id = c.talent_id
    left join t_user u on u.user_id = cp.user_id
    where t.talent_id = #{talentId,jdbcType=BIGINT} and c.cert_id = #{certId,jdbcType=BIGINT}
    order by cp.create_time asc
  </select>

  <select id="findByCertId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_cert_approval
    where cert_id = #{certId,jdbcType=BIGINT}
    and
    `type` = 2
    and
    result = 1
  </select>

<!--  查询所有待审批的认证数目-->
  <select id="queryWaitApprovalNum" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM t_cert_approval
    where type = 1
  </select>
</mapper>