<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.EducationMapper">
  <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.EducationPO">
    <id column="educ_id" jdbcType="BIGINT" property="educId" />
    <result column="education" jdbcType="INTEGER" property="education" />
    <result column="school" jdbcType="CHAR" property="school" />
    <result column="first_class" jdbcType="TINYINT" property="firstClass" />
    <result column="major" jdbcType="CHAR" property="major" />
    <result column="educ_picture" jdbcType="CHAR" property="educPicture" />
    <result column="cert_id" jdbcType="BIGINT" property="certId" />
    <result column="talent_id" jdbcType="BIGINT" property="talentId" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    educ_id, education, school, first_class, major, educ_picture, cert_id, talent_id, 
    `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_education
    where educ_id = #{educId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_education
    where educ_id = #{educId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.talentcard.common.pojo.EducationPO">
    insert into t_education (educ_id, education, school, 
      first_class, major, educ_picture, 
      cert_id, talent_id, `status`
      )
    values (#{educId,jdbcType=BIGINT}, #{education,jdbcType=INTEGER}, #{school,jdbcType=CHAR}, 
      #{firstClass,jdbcType=TINYINT}, #{major,jdbcType=CHAR}, #{educPicture,jdbcType=CHAR}, 
      #{certId,jdbcType=BIGINT}, #{talentId,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.talentcard.common.pojo.EducationPO">
    insert into t_education
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="educId != null">
        educ_id,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="firstClass != null">
        first_class,
      </if>
      <if test="major != null">
        major,
      </if>
      <if test="educPicture != null">
        educ_picture,
      </if>
      <if test="certId != null">
        cert_id,
      </if>
      <if test="talentId != null">
        talent_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="educId != null">
        #{educId,jdbcType=BIGINT},
      </if>
      <if test="education != null">
        #{education,jdbcType=INTEGER},
      </if>
      <if test="school != null">
        #{school,jdbcType=CHAR},
      </if>
      <if test="firstClass != null">
        #{firstClass,jdbcType=TINYINT},
      </if>
      <if test="major != null">
        #{major,jdbcType=CHAR},
      </if>
      <if test="educPicture != null">
        #{educPicture,jdbcType=CHAR},
      </if>
      <if test="certId != null">
        #{certId,jdbcType=BIGINT},
      </if>
      <if test="talentId != null">
        #{talentId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.EducationPO">
    update t_education
    <set>
      <if test="education != null">
        education = #{education,jdbcType=INTEGER},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=CHAR},
      </if>
      <if test="firstClass != null">
        first_class = #{firstClass,jdbcType=TINYINT},
      </if>
      <if test="major != null">
        major = #{major,jdbcType=CHAR},
      </if>
      <if test="educPicture != null">
        educ_picture = #{educPicture,jdbcType=CHAR},
      </if>
      <if test="certId != null">
        cert_id = #{certId,jdbcType=BIGINT},
      </if>
      <if test="talentId != null">
        talent_id = #{talentId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where educ_id = #{educId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.EducationPO">
    update t_education
    set education = #{education,jdbcType=INTEGER},
      school = #{school,jdbcType=CHAR},
      first_class = #{firstClass,jdbcType=TINYINT},
      major = #{major,jdbcType=CHAR},
      educ_picture = #{educPicture,jdbcType=CHAR},
      cert_id = #{certId,jdbcType=BIGINT},
      talent_id = #{talentId,jdbcType=BIGINT},
      `status` = #{status,jdbcType=TINYINT}
    where educ_id = #{educId,jdbcType=BIGINT}
  </update>

  <select id="queryNameByTalentId" parameterType="java.lang.Long" resultType="java.lang.Integer">
    select education
    from t_education
    where talent_id = #{talentId,jdbcType=BIGINT} and `status` = 1
  </select>

  <update id="updateStatusByCertId">
    update t_education e
    set e.`status` = #{status}
    where e.cert_id = #{certId,jdbcType=BIGINT}
  </update>
</mapper>