<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.EvEventFieldMapper">
  <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.EvEventFieldPO">
    <id column="ef_id" jdbcType="BIGINT" property="efId" />
    <result column="place_name" jdbcType="CHAR" property="placeName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
  </resultMap>
  <sql id="Base_Column_List">
    ef_id, place_name, create_time, dr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ev_event_field
    where ef_id = #{efId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ev_event_field
    where ef_id = #{efId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.talentcard.common.pojo.EvEventFieldPO">
    insert into ev_event_field (ef_id, place_name, create_time, 
      dr)
    values (#{efId,jdbcType=BIGINT}, #{placeName,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{dr,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.talentcard.common.pojo.EvEventFieldPO">
    insert into ev_event_field
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="efId != null">
        ef_id,
      </if>
      <if test="placeName != null">
        place_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="efId != null">
        #{efId,jdbcType=BIGINT},
      </if>
      <if test="placeName != null">
        #{placeName,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.EvEventFieldPO">
    update ev_event_field
    <set>
      <if test="placeName != null">
        place_name = #{placeName,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
    </set>
    where ef_id = #{efId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.EvEventFieldPO">
    update ev_event_field
    set place_name = #{placeName,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT}
    where ef_id = #{efId,jdbcType=BIGINT}
  </update>
  <select id="queryAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ev_event_field
  </select>
</mapper>