<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.EvEventTalentMapper">
  <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.EvEventTalentPO">
    <id column="et_id" jdbcType="BIGINT" property="etId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
    <result column="talent_id" jdbcType="BIGINT" property="talentId" />
    <result column="open_id" jdbcType="CHAR" property="openId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="event_id" jdbcType="BIGINT" property="eventId" />
  </resultMap>
  <sql id="Base_Column_List">
    et_id, create_time, dr, talent_id, open_id, `status`, event_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ev_event_talent
    where et_id = #{etId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ev_event_talent
    where et_id = #{etId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.talentcard.common.pojo.EvEventTalentPO">
    insert into ev_event_talent (et_id, create_time, dr, 
      talent_id, open_id, `status`, 
      event_id)
    values (#{etId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{dr,jdbcType=TINYINT}, 
      #{talentId,jdbcType=BIGINT}, #{openId,jdbcType=CHAR}, #{status,jdbcType=TINYINT}, 
      #{eventId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.talentcard.common.pojo.EvEventTalentPO">
    insert into ev_event_talent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="etId != null">
        et_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="talentId != null">
        talent_id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="eventId != null">
        event_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="etId != null">
        #{etId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
      <if test="talentId != null">
        #{talentId,jdbcType=BIGINT},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="eventId != null">
        #{eventId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.EvEventTalentPO">
    update ev_event_talent
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
      <if test="talentId != null">
        talent_id = #{talentId,jdbcType=BIGINT},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=CHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="eventId != null">
        event_id = #{eventId,jdbcType=BIGINT},
      </if>
    </set>
    where et_id = #{etId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.EvEventTalentPO">
    update ev_event_talent
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT},
      talent_id = #{talentId,jdbcType=BIGINT},
      open_id = #{openId,jdbcType=CHAR},
      `status` = #{status,jdbcType=TINYINT},
      event_id = #{eventId,jdbcType=BIGINT}
    where et_id = #{etId,jdbcType=BIGINT}
  </update>
  <select id="queryTalentInfo" resultType="com.talentcard.common.bo.QueryTalentInfoBO">
    select
    t.name as name, t.sex as sex,
    t.work_location as workLocation, t.phone as phone,
    concat(c.title, '/',c.initial_word) as talentCard, et.status as status,
    et.create_time as createTime
    from ev_event_talent et
    left join t_talent t
    on et.talent_id = t.talent_id
    left join t_card c
    on t.card_id = c.card_id
    where
    1 = 1
    <if test="name != null and name !=''">
    and t.name like '%' #{name, jdbcType=CHAR} '%'
    </if>
    <if test="workLocation != null and workLocation !=''">
      and t.work_location like '%' #{workLocation, jdbcType=CHAR} '%'
    </if>
    <if test="sex != null and sex !=''">
      and t.sex = #{sex, jdbcType=TINYINT}
    </if>
    <if test="status != null and status !=''">
      and et.status = #{status, jdbcType=TINYINT}
    </if>
  </select>
</mapper>