<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.EvFrontendEventMapper">
  <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.EvFrontendEventPO">
    <id column="fe_id" jdbcType="BIGINT" property="feId" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="time" jdbcType="CHAR" property="time" />
    <result column="ef_id" jdbcType="BIGINT" property="efId" />
    <result column="duration" jdbcType="DOUBLE" property="duration" />
    <result column="event_num" jdbcType="INTEGER" property="eventNum" />
    <result column="event_date" jdbcType="DATE" property="eventDate" />
    <result column="time_interval" jdbcType="CHAR" property="timeInterval" />
    <result column="sponsor" jdbcType="CHAR" property="sponsor" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="contact_person" jdbcType="CHAR" property="contactPerson" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="talent_id" jdbcType="BIGINT" property="talentId" />
    <result column="open_id" jdbcType="CHAR" property="openId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    fe_id, `name`, `time`, ef_id, duration, event_num, event_date, time_interval, sponsor, 
    detail, contact_person, phone, picture, talent_id, open_id, `status`, create_time, 
    start_time, end_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ev_frontend_event
    where fe_id = #{feId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ev_frontend_event
    where fe_id = #{feId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.talentcard.common.pojo.EvFrontendEventPO" keyProperty="feId" useGeneratedKeys="true">
    insert into ev_frontend_event (fe_id, `name`, `time`, ef_id, 
      duration, event_num, event_date, 
      time_interval, sponsor, detail, 
      contact_person, phone, picture, 
      talent_id, open_id, `status`, 
      create_time, start_time, end_time, 
      update_time)
    values (#{feId,jdbcType=BIGINT}, #{name,jdbcType=CHAR}, #{time,jdbcType=CHAR}, #{efId,jdbcType=BIGINT}, 
      #{duration,jdbcType=DOUBLE}, #{eventNum,jdbcType=INTEGER}, #{eventDate,jdbcType=DATE}, 
      #{timeInterval,jdbcType=CHAR}, #{sponsor,jdbcType=CHAR}, #{detail,jdbcType=VARCHAR}, 
      #{contactPerson,jdbcType=CHAR}, #{phone,jdbcType=CHAR}, #{picture,jdbcType=VARCHAR}, 
      #{talentId,jdbcType=BIGINT}, #{openId,jdbcType=CHAR}, #{status,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.talentcard.common.pojo.EvFrontendEventPO" keyProperty="feId" useGeneratedKeys="true">
    insert into ev_frontend_event
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="feId != null">
        fe_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="time != null">
        `time`,
      </if>
      <if test="efId != null">
        ef_id,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="eventNum != null">
        event_num,
      </if>
      <if test="eventDate != null">
        event_date,
      </if>
      <if test="timeInterval != null">
        time_interval,
      </if>
      <if test="sponsor != null">
        sponsor,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="contactPerson != null">
        contact_person,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="picture != null">
        picture,
      </if>
      <if test="talentId != null">
        talent_id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="feId != null">
        #{feId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=CHAR},
      </if>
      <if test="efId != null">
        #{efId,jdbcType=BIGINT},
      </if>
      <if test="duration != null">
        #{duration,jdbcType=DOUBLE},
      </if>
      <if test="eventNum != null">
        #{eventNum,jdbcType=INTEGER},
      </if>
      <if test="eventDate != null">
        #{eventDate,jdbcType=DATE},
      </if>
      <if test="timeInterval != null">
        #{timeInterval,jdbcType=CHAR},
      </if>
      <if test="sponsor != null">
        #{sponsor,jdbcType=CHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="contactPerson != null">
        #{contactPerson,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
      <if test="picture != null">
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="talentId != null">
        #{talentId,jdbcType=BIGINT},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.EvFrontendEventPO">
    update ev_frontend_event
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=CHAR},
      </if>
      <if test="time != null">
        `time` = #{time,jdbcType=CHAR},
      </if>
      <if test="efId != null">
        ef_id = #{efId,jdbcType=BIGINT},
      </if>
      <if test="duration != null">
        duration = #{duration,jdbcType=DOUBLE},
      </if>
      <if test="eventNum != null">
        event_num = #{eventNum,jdbcType=INTEGER},
      </if>
      <if test="eventDate != null">
        event_date = #{eventDate,jdbcType=DATE},
      </if>
      <if test="timeInterval != null">
        time_interval = #{timeInterval,jdbcType=CHAR},
      </if>
      <if test="sponsor != null">
        sponsor = #{sponsor,jdbcType=CHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="contactPerson != null">
        contact_person = #{contactPerson,jdbcType=CHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="picture != null">
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="talentId != null">
        talent_id = #{talentId,jdbcType=BIGINT},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=CHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where fe_id = #{feId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.EvFrontendEventPO">
    update ev_frontend_event
    set `name` = #{name,jdbcType=CHAR},
      `time` = #{time,jdbcType=CHAR},
      ef_id = #{efId,jdbcType=BIGINT},
      duration = #{duration,jdbcType=DOUBLE},
      event_num = #{eventNum,jdbcType=INTEGER},
      event_date = #{eventDate,jdbcType=DATE},
      time_interval = #{timeInterval,jdbcType=CHAR},
      sponsor = #{sponsor,jdbcType=CHAR},
      detail = #{detail,jdbcType=VARCHAR},
      contact_person = #{contactPerson,jdbcType=CHAR},
      phone = #{phone,jdbcType=CHAR},
      picture = #{picture,jdbcType=VARCHAR},
      talent_id = #{talentId,jdbcType=BIGINT},
      open_id = #{openId,jdbcType=CHAR},
      `status` = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where fe_id = #{feId,jdbcType=BIGINT}
  </update>
  <!--我发起的人才活动首页数据查询-->
  <sql id="pageQuery_Column_List">
    f.fe_id as feId, `name`, `time`,f.ef_id as efId, f.duration, f.event_num as eventNum, event_date as eventDate,time_interval as timeInterval, f.sponsor, f.detail, f.contact_person as contactPerson, f.phone, f.picture, f.talent_id as talentId, f.open_id as openId, `status`, create_time as createTime,
    start_time as startTime, end_time as endTime, update_time as updateTime
  </sql>
  <select id="pageQuery" parameterType="java.util.Map" resultType="com.talentcard.common.bo.EvFrontendEventBO">
    SELECT
    <include refid="pageQuery_Column_List"/>
    FROM
    ev_frontend_event f
    <where>
      <if test="oid != null and oid !=''">and f.open_id = #{oid,jdbcType=CHAR}</if>
    </where>
    order by find_in_set(f.`status`,'1,2,3,4,5') asc, update_time desc
  </select>
  <!--审批主页数据查询-->
  <select id="approvalQuery" parameterType="java.util.Map" resultType="com.talentcard.common.bo.EvFrontendEventBO">
    SELECT
    <include refid="pageQuery_Column_List"/>
    FROM
    ev_frontend_event f
    <where>
      <if test="name != null and name !=''">and f.`name` like '%' #{name,jdbcType=CHAR} '%'</if>
      <if test="sshow != null and sshow !='' and sshow == 1">and f.`status` = 1</if>
      <!--<if test="sshow != null and sshow !='' and sshow == 2">and f.`status` = 2 and <![CDATA[ f.start_time > #{currentTime} ]]></if>-->
      <if test="sshow != null and sshow !='' and sshow == 2">and f.`status` = 2 </if>
      <if test="sshow != null and sshow !='' and sshow == 10">and f.`status` = 2 and <![CDATA[ f.start_time < #{currentTime} and f.end_time >= #{currentTime} ]]></if>
      <if test="sshow != null and sshow !='' and sshow == 7">and f.`status` = 2 and <![CDATA[ f.end_time <= #{currentTime} ]]></if>
      <if test="sshow != null and sshow !='' and sshow == 3">and f.`status` = 3</if>
      <if test="sshow != null and sshow !='' and sshow == 4">and f.`status` = 4</if>
      <if test="sshow != null and sshow !='' and sshow == 5">and f.`status` = 5</if>
    </where>
    order by find_in_set(f.`status`,'1,2,3,4,5') asc, update_time desc
  </select>
  <select id="notApprovalNum"  resultType="java.lang.Long">
    SELECT
    count(*)
    FROM
    ev_frontend_event f
    <where>
      `status`= 1
    </where>
  </select>
</mapper>