<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.FarmhouseMapper">
  <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.FarmhousePO">
    <id column="farmhouse_id" jdbcType="BIGINT" property="farmhouseId" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="discount" jdbcType="DOUBLE" property="discount" />
    <result column="avatar" jdbcType="CHAR" property="avatar" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="extra" jdbcType="VARCHAR" property="extra" />
    <result column="qr_code" jdbcType="CHAR" property="qrCode" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
    <result column="subtitle" jdbcType="CHAR" property="subtitle" />
    <result column="starLevel" jdbcType="TINYINT" property="starlevel" />
    <result column="area" jdbcType="INTEGER" property="area" />
    <result column="location" jdbcType="CHAR" property="location" />
    <result column="average_cost" jdbcType="DECIMAL" property="averageCost" />
  </resultMap>
  <resultMap id="FarmhouseDetailResultMap" type="com.talentcard.common.bo.FarmhouseBO">
    <id column="f_farmhouse_id" jdbcType="BIGINT" property="farmhouseId"/>
    <result column="name" jdbcType="CHAR" property="name"/>
    <result column="discount" jdbcType="DOUBLE" property="discount"/>
    <result column="avatar" jdbcType="CHAR" property="avatar"/>
    <result column="description" jdbcType="CHAR" property="description"/>
    <result column="extra" jdbcType="CHAR" property="extra"/>
    <result column="qr_code" jdbcType="CHAR" property="qrCode"/>
    <result column="status" jdbcType="TINYINT" property="status"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="dr" jdbcType="TINYINT" property="dr"/>
    <collection property="farmhousePicturePOList" ofType="com.talentcard.common.pojo.FarmhousePicturePO">
      <id column="fp_id" jdbcType="BIGINT" property="fpId"/>
      <result column="fp_farmhouse_id" jdbcType="BIGINT" property="farmhouseId"/>
      <result column="picture" jdbcType="CHAR" property="picture"/>
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    farmhouse_id, `name`, discount, avatar, description, extra, qr_code, `status`, create_time, 
    dr, subtitle, starLevel, area, `location`, average_cost
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_farmhouse
    where farmhouse_id = #{farmhouseId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_farmhouse
    where farmhouse_id = #{farmhouseId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.talentcard.common.pojo.FarmhousePO">
    insert into t_farmhouse (farmhouse_id, `name`, discount, 
      avatar, description, extra, 
      qr_code, `status`, create_time, 
      dr, subtitle, starLevel, 
      area, `location`, average_cost
      )
    values (#{farmhouseId,jdbcType=BIGINT}, #{name,jdbcType=CHAR}, #{discount,jdbcType=DOUBLE}, 
      #{avatar,jdbcType=CHAR}, #{description,jdbcType=VARCHAR}, #{extra,jdbcType=VARCHAR}, 
      #{qrCode,jdbcType=CHAR}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{dr,jdbcType=TINYINT}, #{subtitle,jdbcType=CHAR}, #{starlevel,jdbcType=TINYINT}, 
      #{area,jdbcType=INTEGER}, #{location,jdbcType=CHAR}, #{averageCost,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.talentcard.common.pojo.FarmhousePO">
    insert into t_farmhouse
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="farmhouseId != null">
        farmhouse_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="extra != null">
        extra,
      </if>
      <if test="qrCode != null">
        qr_code,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="subtitle != null">
        subtitle,
      </if>
      <if test="starlevel != null">
        starLevel,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="location != null">
        `location`,
      </if>
      <if test="averageCost != null">
        average_cost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="farmhouseId != null">
        #{farmhouseId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DOUBLE},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=CHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="extra != null">
        #{extra,jdbcType=VARCHAR},
      </if>
      <if test="qrCode != null">
        #{qrCode,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
      <if test="subtitle != null">
        #{subtitle,jdbcType=CHAR},
      </if>
      <if test="starlevel != null">
        #{starlevel,jdbcType=TINYINT},
      </if>
      <if test="area != null">
        #{area,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        #{location,jdbcType=CHAR},
      </if>
      <if test="averageCost != null">
        #{averageCost,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.FarmhousePO">
    update t_farmhouse
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=CHAR},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DOUBLE},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=CHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="extra != null">
        extra = #{extra,jdbcType=VARCHAR},
      </if>
      <if test="qrCode != null">
        qr_code = #{qrCode,jdbcType=CHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
      <if test="subtitle != null">
        subtitle = #{subtitle,jdbcType=CHAR},
      </if>
      <if test="starlevel != null">
        starLevel = #{starlevel,jdbcType=TINYINT},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=INTEGER},
      </if>
      <if test="location != null">
        `location` = #{location,jdbcType=CHAR},
      </if>
      <if test="averageCost != null">
        average_cost = #{averageCost,jdbcType=DECIMAL},
      </if>
    </set>
    where farmhouse_id = #{farmhouseId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.FarmhousePO">
    update t_farmhouse
    set `name` = #{name,jdbcType=CHAR},
      discount = #{discount,jdbcType=DOUBLE},
      avatar = #{avatar,jdbcType=CHAR},
      description = #{description,jdbcType=VARCHAR},
      extra = #{extra,jdbcType=VARCHAR},
      qr_code = #{qrCode,jdbcType=CHAR},
      `status` = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT},
      subtitle = #{subtitle,jdbcType=CHAR},
      starLevel = #{starlevel,jdbcType=TINYINT},
      area = #{area,jdbcType=INTEGER},
      `location` = #{location,jdbcType=CHAR},
      average_cost = #{averageCost,jdbcType=DECIMAL}
    where farmhouse_id = #{farmhouseId,jdbcType=BIGINT}
  </update>

  <select id="query" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_farmhouse
    where dr = 1
    <if test="start != null and start !=''">and create_time >= #{start}</if>
    <if test="end != null and end !=''">and create_time &lt;= #{end}</if>
    <if test="name != null and name !=''">and `name` like '%' #{name} '%'</if>
    <if test="status != null and status !=0">and `status` = #{status}</if>
    order by status asc, create_time asc
  </select>

  <select id="queryByName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_farmhouse
    where `name` = #{name,jdbcType=CHAR} and dr = 1
  </select>

  <update id="updateStatus">
        update t_farmhouse
        set `status` = #{status,jdbcType=TINYINT}
        where farmhouse_id = #{farmhouseId,jdbcType=BIGINT}
    </update>

  <select id="findEnjoyFarmhouse" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_farmhouse
    where
    (<foreach collection="farmhouseList" separator="or" item="farmhouseId">
    farmhouse_id = #{farmhouseId, jdbcType=BIGINT}
  </foreach>)
    and status = 1
    and dr = 1
  </select>

  <select id="findOne" resultMap="FarmhouseDetailResultMap">
        select f.farmhouse_id  as f_farmhouse_id,
               `name`,
               discount,
               avatar,
               description,
               extra,
               qr_code,
               `status`,
               create_time,
               dr
                                  create_time,
               dr,
               fp_id,
               fp.farmhouse_id as fp_farmhouse_id,
               picture,

               fp_id,
               fp.farmhouse_id as fp_farmhouse_id,
               picture
        from t_farmhouse f
                 left join t_farmhouse_picture fp
                           on f.farmhouse_id = fp.farmhouse_id
        where f.farmhouse_id = #{activitySecondContentId, jdbcType=BIGINT}
    </select>
</mapper>