<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.InsertEducationMapper">
  <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.InsertEducationPO">
    <id column="insert_educ_id" jdbcType="BIGINT" property="insertEducId" />
    <result column="education" jdbcType="INTEGER" property="education" />
    <result column="school" jdbcType="CHAR" property="school" />
    <result column="first_class" jdbcType="TINYINT" property="firstClass" />
    <result column="major" jdbcType="CHAR" property="major" />
    <result column="educ_picture" jdbcType="CHAR" property="educPicture" />
    <result column="open_id" jdbcType="CHAR" property="openId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="graduate_time" jdbcType="CHAR" property="graduateTime" />
    <result column="insert_cert_id" jdbcType="BIGINT" property="insertCertId" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
    <result column="educ_picture2" jdbcType="CHAR" property="educPicture2" />
    <result column="educ_picture3" jdbcType="CHAR" property="educPicture3" />
    <result column="full_time" jdbcType="TINYINT" property="fullTime" />
  </resultMap>
  <sql id="Base_Column_List">
    insert_educ_id, education, school, first_class, major, educ_picture, open_id, `status`, 
    graduate_time, insert_cert_id, dr, educ_picture2, educ_picture3, full_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_insert_education
    where insert_educ_id = #{insertEducId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_insert_education
    where insert_educ_id = #{insertEducId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.talentcard.common.pojo.InsertEducationPO">
    insert into t_insert_education (insert_educ_id, education, school, 
      first_class, major, educ_picture, 
      open_id, `status`, graduate_time, 
      insert_cert_id, dr, educ_picture2, 
      educ_picture3, full_time)
    values (#{insertEducId,jdbcType=BIGINT}, #{education,jdbcType=INTEGER}, #{school,jdbcType=CHAR}, 
      #{firstClass,jdbcType=TINYINT}, #{major,jdbcType=CHAR}, #{educPicture,jdbcType=CHAR}, 
      #{openId,jdbcType=CHAR}, #{status,jdbcType=TINYINT}, #{graduateTime,jdbcType=CHAR}, 
      #{insertCertId,jdbcType=BIGINT}, #{dr,jdbcType=TINYINT}, #{educPicture2,jdbcType=CHAR}, 
      #{educPicture3,jdbcType=CHAR}, #{fullTime,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.talentcard.common.pojo.InsertEducationPO">
    insert into t_insert_education
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="insertEducId != null">
        insert_educ_id,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="firstClass != null">
        first_class,
      </if>
      <if test="major != null">
        major,
      </if>
      <if test="educPicture != null">
        educ_picture,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="graduateTime != null">
        graduate_time,
      </if>
      <if test="insertCertId != null">
        insert_cert_id,
      </if>
      <if test="dr != null">
        dr,
      </if>
      <if test="educPicture2 != null">
        educ_picture2,
      </if>
      <if test="educPicture3 != null">
        educ_picture3,
      </if>
      <if test="fullTime != null">
        full_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="insertEducId != null">
        #{insertEducId,jdbcType=BIGINT},
      </if>
      <if test="education != null">
        #{education,jdbcType=INTEGER},
      </if>
      <if test="school != null">
        #{school,jdbcType=CHAR},
      </if>
      <if test="firstClass != null">
        #{firstClass,jdbcType=TINYINT},
      </if>
      <if test="major != null">
        #{major,jdbcType=CHAR},
      </if>
      <if test="educPicture != null">
        #{educPicture,jdbcType=CHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=CHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="graduateTime != null">
        #{graduateTime,jdbcType=CHAR},
      </if>
      <if test="insertCertId != null">
        #{insertCertId,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
      <if test="educPicture2 != null">
        #{educPicture2,jdbcType=CHAR},
      </if>
      <if test="educPicture3 != null">
        #{educPicture3,jdbcType=CHAR},
      </if>
      <if test="fullTime != null">
        #{fullTime,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.InsertEducationPO">
    update t_insert_education
    <set>
      <if test="education != null">
        education = #{education,jdbcType=INTEGER},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=CHAR},
      </if>
      <if test="firstClass != null">
        first_class = #{firstClass,jdbcType=TINYINT},
      </if>
      <if test="major != null">
        major = #{major,jdbcType=CHAR},
      </if>
      <if test="educPicture != null">
        educ_picture = #{educPicture,jdbcType=CHAR},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=CHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="graduateTime != null">
        graduate_time = #{graduateTime,jdbcType=CHAR},
      </if>
      <if test="insertCertId != null">
        insert_cert_id = #{insertCertId,jdbcType=BIGINT},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
      <if test="educPicture2 != null">
        educ_picture2 = #{educPicture2,jdbcType=CHAR},
      </if>
      <if test="educPicture3 != null">
        educ_picture3 = #{educPicture3,jdbcType=CHAR},
      </if>
      <if test="fullTime != null">
        full_time = #{fullTime,jdbcType=TINYINT},
      </if>
    </set>
    where insert_educ_id = #{insertEducId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.InsertEducationPO">
    update t_insert_education
    set education = #{education,jdbcType=INTEGER},
      school = #{school,jdbcType=CHAR},
      first_class = #{firstClass,jdbcType=TINYINT},
      major = #{major,jdbcType=CHAR},
      educ_picture = #{educPicture,jdbcType=CHAR},
      open_id = #{openId,jdbcType=CHAR},
      `status` = #{status,jdbcType=TINYINT},
      graduate_time = #{graduateTime,jdbcType=CHAR},
      insert_cert_id = #{insertCertId,jdbcType=BIGINT},
      dr = #{dr,jdbcType=TINYINT},
      educ_picture2 = #{educPicture2,jdbcType=CHAR},
      educ_picture3 = #{educPicture3,jdbcType=CHAR},
      full_time = #{fullTime,jdbcType=TINYINT}
    where insert_educ_id = #{insertEducId,jdbcType=BIGINT}
  </update>
  <select id="selectByInsertCertId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_insert_education
    where insert_cert_id = #{insertCertId,jdbcType=BIGINT}
  </select>
</mapper>