<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.MemberMapper">
  <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.Member">
    <id column="tc_id" jdbcType="BIGINT" property="tcId" />
    <result column="card_type_id" jdbcType="BIGINT" property="cardTypeId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="upadate_time" jdbcType="TIMESTAMP" property="upadateTime" />
    <result column="dr" jdbcType="TINYINT" property="dr" />
  </resultMap>
  <sql id="Base_Column_List">
    tc_id, card_type_id, user_id, `status`, create_time, upadate_time, dr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_card_member
    where tc_id = #{tcId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_card_member
    where tc_id = #{tcId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.talentcard.common.pojo.Member">
    insert into t_card_member (tc_id, card_type_id, user_id, 
      `status`, create_time, upadate_time, 
      dr)
    values (#{tcId,jdbcType=BIGINT}, #{cardTypeId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, 
      #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{upadateTime,jdbcType=TIMESTAMP}, 
      #{dr,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.talentcard.common.pojo.Member">
    insert into t_card_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tcId != null">
        tc_id,
      </if>
      <if test="cardTypeId != null">
        card_type_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="upadateTime != null">
        upadate_time,
      </if>
      <if test="dr != null">
        dr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tcId != null">
        #{tcId,jdbcType=BIGINT},
      </if>
      <if test="cardTypeId != null">
        #{cardTypeId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upadateTime != null">
        #{upadateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        #{dr,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.Member">
    update t_card_member
    <set>
      <if test="cardTypeId != null">
        card_type_id = #{cardTypeId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="upadateTime != null">
        upadate_time = #{upadateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dr != null">
        dr = #{dr,jdbcType=TINYINT},
      </if>
    </set>
    where tc_id = #{tcId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.Member">
    update t_card_member
    set card_type_id = #{cardTypeId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=BIGINT},
      `status` = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      upadate_time = #{upadateTime,jdbcType=TIMESTAMP},
      dr = #{dr,jdbcType=TINYINT}
    where tc_id = #{tcId,jdbcType=BIGINT}
  </update>
</mapper>