<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.PoComplianceMapper">
    <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.PoCompliancePO">
        <id column="p_co_id" jdbcType="BIGINT" property="pCoId"/>
        <result column="policy_id" jdbcType="BIGINT" property="policyId"/>
        <result column="talent_id" jdbcType="BIGINT" property="talentId"/>
        <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="year" jdbcType="INTEGER" property="year"/>
    </resultMap>
    <sql id="Base_Column_List">
    p_co_id, policy_id, talent_id, apply_time, `status`, year
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from po_compliance
        where p_co_id = #{pCoId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from po_compliance
    where p_co_id = #{pCoId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" useGeneratedKeys="true" keyProperty="pCoId" parameterType="com.talentcard.common.pojo.PoCompliancePO">
    insert into po_compliance (p_co_id, policy_id, talent_id,
      apply_time, `status`, `year` )
    values (#{pCoId,jdbcType=BIGINT}, #{policyId,jdbcType=BIGINT}, #{talentId,jdbcType=BIGINT},
      #{applyTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, #{year,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.talentcard.common.pojo.PoCompliancePO">
        insert into po_compliance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pCoId != null">
                p_co_id,
            </if>
            <if test="policyId != null">
                policy_id,
            </if>
            <if test="talentId != null">
                talent_id,
            </if>
            <if test="applyTime != null">
                apply_time,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="year != null">
                `year`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pCoId != null">
                #{pCoId,jdbcType=BIGINT},
            </if>
            <if test="policyId != null">
                #{policyId,jdbcType=BIGINT},
            </if>
            <if test="talentId != null">
                #{talentId,jdbcType=BIGINT},
            </if>
            <if test="applyTime != null">
                #{applyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="year != null">
                #{year,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.PoCompliancePO">
        update po_compliance
        <set>
            <if test="policyId != null">
                policy_id = #{policyId,jdbcType=BIGINT},
            </if>
            <if test="talentId != null">
                talent_id = #{talentId,jdbcType=BIGINT},
            </if>
            <if test="applyTime != null">
                apply_time = #{applyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                `status` = #{status,jdbcType=TINYINT},
            </if>
            <if test="year != null">
                `year` = #{year,jdbcType=TINYINT},
            </if>
        </set>
        where p_co_id = #{pCoId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.PoCompliancePO">
    update po_compliance
    set policy_id = #{policyId,jdbcType=BIGINT},
      talent_id = #{talentId,jdbcType=BIGINT},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=TINYINT},
      `year` = #{year,jdbcType=INTEGER}
    where p_co_id = #{pCoId,jdbcType=BIGINT}
  </update>

    <delete id="deleteByApplyTime" parameterType="java.lang.Long">
    delete from po_compliance
    where apply_time is NULL
  </delete>

    <select id="selectByPolicyTalent" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from po_compliance
        <where>
            <if test="policyId != null">
                policy_id = #{policyId,jdbcType=BIGINT}
            </if>
            <if test="talentId != null">
                and talent_id = #{talentId,jdbcType=BIGINT}
            </if>
            <if test="year != null">
                and `year` = #{year,jdbcType=BIGINT}
            </if>
        </where>
    </select>

    <select id="policyCount" parameterType="java.util.Map" resultType="com.talentcard.common.pojo.PoStatisticsPO">
        select
        policy_id as policyId,
        sum(CASE WHEN po.`status`=11 THEN 1 ELSE 0 END) as notApply,
        sum(CASE WHEN po.`status`=1 THEN 1 ELSE 0 END) as pass,
        sum(CASE WHEN po.`status`=2 THEN 1 ELSE 0 END) as reject,
        sum(CASE WHEN po.`status`=3 THEN 1 ELSE 0 END) as notApproval
        from po_compliance po
        <where>
            <if test="policyId != null">
                policy_id = #{policyId,jdbcType=BIGINT}
            </if>
            <if test="year != null">
                and `year` = #{year,jdbcType=BIGINT}
            </if>
        </where>
        group by policy_id
    </select>

    <select id="selectByYearTalent" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from po_compliance
        <where>
            <if test="talentId != null">
                talent_id = #{talentId,jdbcType=BIGINT}
            </if>
            <if test="year != null">
                and year = #{year,jdbcType=BIGINT}
            </if>
        </where>
    </select>

    <select id="queryPolicyByTalentId" resultType="com.talentcard.common.bo.QueryPolicyByTalentIdBO">
        select
        p.name as policyName, p.start_time as startTime, p.end_time as endTime,
        poc.status as status, p.policy_id as policyId
        from po_compliance poc
        left join t_policy p
        on poc.policy_id = p.policy_id
        where
        poc.talent_id = #{talentId,jdbcType=BIGINT}
        and poc.year = #{year,jdbcType=INTEGER}
        and (poc.status = 11 or  poc.status = 2 or poc.status = 3 or poc.status = 10 or poc.status = 1)
        order by FIELD(poc.status, 2, 11, 3, 1, 10) asc, p.end_time asc
    </select>

    <select id="countMeetConditionNumber"  resultMap="BaseResultMap">
        select
        count(p_co_id)
        from po_compliance
        where policy_id = #{policyId,jdbcType=BIGINT}
        and
        status = 11
    </select>
    <!--符合条件人数首页数据查询-->
    <sql id="pageQuery_Column_List">
    p.policy_id as policyId, p.talent_id as talentId, p.apply_time as applyTime, p.`status` as status, t.name as name, t.sex as sex, t.work_unit as workUnit, t.phone as phone, t.open_id as openId
    </sql>
    <select id="pageQuery" parameterType="java.util.Map" resultType="com.talentcard.common.bo.PoComplianceBO">
        SELECT
        <include refid="pageQuery_Column_List"/>
        FROM
        po_compliance p, t_talent t
        <where>
            p.talent_id = t.talent_id
            and p.status != 10
            <if test="pid != null and pid !=''">and  p.policy_id = #{pid,jdbcType=BIGINT}</if>
            <if test="name != null and name !=''">and t.name like '%' #{name,jdbcType=CHAR} '%'</if>
            <if test="wunit != null and wunit !=''">and t.work_unit like '%' #{wunit,jdbcType=CHAR} '%'</if>
            <if test="phone != null and phone !=''">and t.phone like '%' #{phone,jdbcType=CHAR} '%'</if>
            <if test="status != null and status !=''">and p.`status` = #{status,jdbcType=TINYINT}</if>
            <if test="beginDate != null and beginDate !=''">AND p.apply_time <![CDATA[>=]]> DATE_FORMAT(#{beginDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s')</if>
            <if test="endDate != null and endDate !=''">AND p.apply_time <![CDATA[<=]]> DATE_FORMAT(#{endDate,jdbcType=TIMESTAMP},'%Y-%m-%d %H:%i:%s')</if>
        </where>
        ORDER BY FIND_IN_SET(p.`status`,'3,11,1,2') asc, p.apply_time desc
    </select>
    <!--通过pid查询认证id接口-->
    <select id="queryCertId" parameterType="java.util.Map" resultType="com.talentcard.common.pojo.CertApprovalPassRecordPO">
        SELECT
        c.cert_id as certId, c.talent_id as talentId
        FROM
        po_compliance p, t_talent t, t_cert_approval_pass_record c
        <where>
            p.talent_id = t.talent_id and t.talent_id = c.talent_id
            <if test="pid != null and pid !=''">and  p.policy_id = #{pid,jdbcType=BIGINT}</if>
        </where>
    </select>
    <!--政策审批中和待审批的申请查询-->
    <select id="selectByPidAndStatus" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from po_compliance
        <where>
            <if test="pid != null and pid != ''">
                and policy_id= #{pid,jdbcType=BIGINT}
            </if>
            and `status`= 1 or `status` =3
        </where>
    </select>
</mapper>