<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.PolicyTalentTypeMapper">
  <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.PolicyTalentTypePO">
    <id column="p_talent_type_id" jdbcType="BIGINT" property="pTalentTypeId" />
    <result column="talent_type" jdbcType="CHAR" property="talentType" />
    <result column="policy_id" jdbcType="BIGINT" property="policyId" />
  </resultMap>
  <sql id="Base_Column_List">
    p_talent_type_id, talent_type, policy_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_policy_talent_type
    where p_talent_type_id = #{pTalentTypeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_policy_talent_type
    where p_talent_type_id = #{pTalentTypeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.talentcard.common.pojo.PolicyTalentTypePO">
    insert into t_policy_talent_type (p_talent_type_id, talent_type, policy_id
      )
    values (#{pTalentTypeId,jdbcType=BIGINT}, #{talentType,jdbcType=CHAR}, #{policyId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.talentcard.common.pojo.PolicyTalentTypePO">
    insert into t_policy_talent_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pTalentTypeId != null">
        p_talent_type_id,
      </if>
      <if test="talentType != null">
        talent_type,
      </if>
      <if test="policyId != null">
        policy_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pTalentTypeId != null">
        #{pTalentTypeId,jdbcType=BIGINT},
      </if>
      <if test="talentType != null">
        #{talentType,jdbcType=CHAR},
      </if>
      <if test="policyId != null">
        #{policyId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.PolicyTalentTypePO">
    update t_policy_talent_type
    <set>
      <if test="talentType != null">
        talent_type = #{talentType,jdbcType=CHAR},
      </if>
      <if test="policyId != null">
        policy_id = #{policyId,jdbcType=BIGINT},
      </if>
    </set>
    where p_talent_type_id = #{pTalentTypeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.PolicyTalentTypePO">
    update t_policy_talent_type
    set talent_type = #{talentType,jdbcType=CHAR},
      policy_id = #{policyId,jdbcType=BIGINT}
    where p_talent_type_id = #{pTalentTypeId,jdbcType=BIGINT}
  </update>
</mapper>