<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.ScenicEnjoyMapper">
  <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.ScenicEnjoyPO">
    <id column="se_id" jdbcType="BIGINT" property="seId" />
    <result column="scenic_id" jdbcType="BIGINT" property="scenicId" />
    <result column="card_id" jdbcType="BIGINT" property="cardId" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="education_id" jdbcType="INTEGER" property="educationId" />
    <result column="title_id" jdbcType="INTEGER" property="titleId" />
    <result column="quality" jdbcType="INTEGER" property="quality" />
    <result column="honour_id" jdbcType="BIGINT" property="honourId" />
    <result column="type" jdbcType="TINYINT" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    se_id, scenic_id, card_id, category_id, education_id, title_id, quality, honour_id, 
    `type`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_scenic_enjoy
    where se_id = #{seId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_scenic_enjoy
    where se_id = #{seId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.talentcard.common.pojo.ScenicEnjoyPO">
    insert into t_scenic_enjoy (se_id, scenic_id, card_id, 
      category_id, education_id, title_id, 
      quality, honour_id, `type`
      )
    values (#{seId,jdbcType=BIGINT}, #{scenicId,jdbcType=BIGINT}, #{cardId,jdbcType=BIGINT}, 
      #{categoryId,jdbcType=BIGINT}, #{educationId,jdbcType=INTEGER}, #{titleId,jdbcType=INTEGER}, 
      #{quality,jdbcType=INTEGER}, #{honourId,jdbcType=BIGINT}, #{type,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.talentcard.common.pojo.ScenicEnjoyPO">
    insert into t_scenic_enjoy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="seId != null">
        se_id,
      </if>
      <if test="scenicId != null">
        scenic_id,
      </if>
      <if test="cardId != null">
        card_id,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="educationId != null">
        education_id,
      </if>
      <if test="titleId != null">
        title_id,
      </if>
      <if test="quality != null">
        quality,
      </if>
      <if test="honourId != null">
        honour_id,
      </if>
      <if test="type != null">
        `type`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="seId != null">
        #{seId,jdbcType=BIGINT},
      </if>
      <if test="scenicId != null">
        #{scenicId,jdbcType=BIGINT},
      </if>
      <if test="cardId != null">
        #{cardId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="educationId != null">
        #{educationId,jdbcType=INTEGER},
      </if>
      <if test="titleId != null">
        #{titleId,jdbcType=INTEGER},
      </if>
      <if test="quality != null">
        #{quality,jdbcType=INTEGER},
      </if>
      <if test="honourId != null">
        #{honourId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.ScenicEnjoyPO">
    update t_scenic_enjoy
    <set>
      <if test="scenicId != null">
        scenic_id = #{scenicId,jdbcType=BIGINT},
      </if>
      <if test="cardId != null">
        card_id = #{cardId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="educationId != null">
        education_id = #{educationId,jdbcType=INTEGER},
      </if>
      <if test="titleId != null">
        title_id = #{titleId,jdbcType=INTEGER},
      </if>
      <if test="quality != null">
        quality = #{quality,jdbcType=INTEGER},
      </if>
      <if test="honourId != null">
        honour_id = #{honourId,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=TINYINT},
      </if>
    </set>
    where se_id = #{seId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.ScenicEnjoyPO">
    update t_scenic_enjoy
    set scenic_id = #{scenicId,jdbcType=BIGINT},
      card_id = #{cardId,jdbcType=BIGINT},
      category_id = #{categoryId,jdbcType=BIGINT},
      education_id = #{educationId,jdbcType=INTEGER},
      title_id = #{titleId,jdbcType=INTEGER},
      quality = #{quality,jdbcType=INTEGER},
      honour_id = #{honourId,jdbcType=BIGINT},
      `type` = #{type,jdbcType=TINYINT}
    where se_id = #{seId,jdbcType=BIGINT}
  </update>
  <insert id="batchInsert" parameterType="com.talentcard.common.pojo.ScenicEnjoyPO">
    insert into t_scenic_enjoy (se_id, scenic_id, card_id,
    category_id, education_id, title_id,
    quality, `type`)
    values
    <foreach collection="list" separator="," item="po">
      (#{po.seId,jdbcType=BIGINT}, #{po.scenicId,jdbcType=BIGINT}, #{po.cardId,jdbcType=BIGINT},
      #{po.categoryId,jdbcType=BIGINT}, #{po.educationId,jdbcType=INTEGER}, #{po.titleId,jdbcType=INTEGER},
      #{po.quality,jdbcType=INTEGER}, #{po.type,jdbcType=TINYINT})
    </foreach>
  </insert>

  <delete id="deleteByScenicId" parameterType="java.lang.Long">
        delete
        from t_scenic_enjoy
        where scenic_id = #{scenicId,jdbcType=BIGINT}
    </delete>

  <select id="queryByScenicId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from t_scenic_enjoy
    where scenic_id = #{scenicId,jdbcType=BIGINT}
  </select>
  <select id="findSecondContent" resultType="java.lang.Long">
    select
    sc.scenic_id
    from t_scenic_enjoy sc
    left join t_scenic s
    on sc.scenic_id = s.scenic_id
    where
    s.status = 1
    and s.dr = 1
    and (sc.card_id = #{cardId,jdbcType=BIGINT}
    <if test="categoryList != null">
      <foreach collection="categoryList" item="category">
        or sc.category_id = #{category, jdbcType=BIGINT}
      </foreach>
    </if>
    <if test="education != null">
      or sc.education_id = #{education, jdbcType=INTEGER}
    </if>
    <if test="title != null">
      or sc.title_id = #{title, jdbcType=INTEGER}
    </if>
    <if test="quality != null">
      or sc.quality = #{quality, jdbcType=INTEGER}
    </if>
    <if test="talentHonour != null">
      or sc.honour_id = #{talentHonour, jdbcType=BIGINT}
    </if>)
  </select>
</mapper>