<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.TalentHonourMapper">
  <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.TalentHonourPO">
    <id column="th_id" jdbcType="BIGINT" property="thId" />
    <result column="honour_id" jdbcType="BIGINT" property="honourId" />
    <result column="honour_picture" jdbcType="CHAR" property="honourPicture" />
    <result column="info" jdbcType="CHAR" property="info" />
    <result column="cert_id" jdbcType="BIGINT" property="certId" />
    <result column="talent_id" jdbcType="BIGINT" property="talentId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="if_certificate" jdbcType="TINYINT" property="ifCertificate" />
  </resultMap>
  <sql id="Base_Column_List">
    th_id, honour_id, honour_picture, info, cert_id, talent_id, `status`, if_certificate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_talent_honour
    where th_id = #{thId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_talent_honour
    where th_id = #{thId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.talentcard.common.pojo.TalentHonourPO">
    insert into t_talent_honour (th_id, honour_id, honour_picture, 
      info, cert_id, talent_id, 
      `status`, if_certificate)
    values (#{thId,jdbcType=BIGINT}, #{honourId,jdbcType=BIGINT}, #{honourPicture,jdbcType=CHAR}, 
      #{info,jdbcType=CHAR}, #{certId,jdbcType=BIGINT}, #{talentId,jdbcType=BIGINT}, 
      #{status,jdbcType=TINYINT}, #{ifCertificate,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.talentcard.common.pojo.TalentHonourPO">
    insert into t_talent_honour
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="thId != null">
        th_id,
      </if>
      <if test="honourId != null">
        honour_id,
      </if>
      <if test="honourPicture != null">
        honour_picture,
      </if>
      <if test="info != null">
        info,
      </if>
      <if test="certId != null">
        cert_id,
      </if>
      <if test="talentId != null">
        talent_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="ifCertificate != null">
        if_certificate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="thId != null">
        #{thId,jdbcType=BIGINT},
      </if>
      <if test="honourId != null">
        #{honourId,jdbcType=BIGINT},
      </if>
      <if test="honourPicture != null">
        #{honourPicture,jdbcType=CHAR},
      </if>
      <if test="info != null">
        #{info,jdbcType=CHAR},
      </if>
      <if test="certId != null">
        #{certId,jdbcType=BIGINT},
      </if>
      <if test="talentId != null">
        #{talentId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="ifCertificate != null">
        #{ifCertificate,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.TalentHonourPO">
    update t_talent_honour
    <set>
      <if test="honourId != null">
        honour_id = #{honourId,jdbcType=BIGINT},
      </if>
      <if test="honourPicture != null">
        honour_picture = #{honourPicture,jdbcType=CHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=CHAR},
      </if>
      <if test="certId != null">
        cert_id = #{certId,jdbcType=BIGINT},
      </if>
      <if test="talentId != null">
        talent_id = #{talentId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
      <if test="ifCertificate != null">
        if_certificate = #{ifCertificate,jdbcType=TINYINT},
      </if>
    </set>
    where th_id = #{thId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.TalentHonourPO">
    update t_talent_honour
    set honour_id = #{honourId,jdbcType=BIGINT},
      honour_picture = #{honourPicture,jdbcType=CHAR},
      info = #{info,jdbcType=CHAR},
      cert_id = #{certId,jdbcType=BIGINT},
      talent_id = #{talentId,jdbcType=BIGINT},
      `status` = #{status,jdbcType=TINYINT},
      if_certificate = #{ifCertificate,jdbcType=TINYINT}
    where th_id = #{thId,jdbcType=BIGINT}
  </update>
  <update id="updateStatusByCertId">
    update t_talent_honour th
    set th.`status` = #{status}
    where th.cert_id = #{certId,jdbcType=BIGINT}
  </update>
  <select id="selectByCertId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_talent_honour
    where cert_id = #{certId,jdbcType=BIGINT}
  </select>
</mapper>