<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.TalentCertificationInfoMapper">
  <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.TalentCertificationInfoPO">
    <id column="tci_id" jdbcType="BIGINT" property="tciId" />
    <result column="talent_id" jdbcType="BIGINT" property="talentId" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="pt_category" jdbcType="VARCHAR" property="ptCategory" />
    <result column="pq_category" jdbcType="VARCHAR" property="pqCategory" />
    <result column="talent_category" jdbcType="CHAR" property="talentCategory" />
    <result column="honour_id" jdbcType="VARCHAR" property="honourId" />
  </resultMap>
  <sql id="Base_Column_List">
    tci_id, talent_id, education, pt_category, pq_category, talent_category, honour_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_talent_certification_info
    where tci_id = #{tciId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_talent_certification_info
    where tci_id = #{tciId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.talentcard.common.pojo.TalentCertificationInfoPO">
    insert into t_talent_certification_info (tci_id, talent_id, education, 
      pt_category, pq_category, talent_category, 
      honour_id)
    values (#{tciId,jdbcType=BIGINT}, #{talentId,jdbcType=BIGINT}, #{education,jdbcType=VARCHAR}, 
      #{ptCategory,jdbcType=VARCHAR}, #{pqCategory,jdbcType=VARCHAR}, #{talentCategory,jdbcType=CHAR}, 
      #{honourId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.talentcard.common.pojo.TalentCertificationInfoPO">
    insert into t_talent_certification_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tciId != null">
        tci_id,
      </if>
      <if test="talentId != null">
        talent_id,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="ptCategory != null">
        pt_category,
      </if>
      <if test="pqCategory != null">
        pq_category,
      </if>
      <if test="talentCategory != null">
        talent_category,
      </if>
      <if test="honourId != null">
        honour_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tciId != null">
        #{tciId,jdbcType=BIGINT},
      </if>
      <if test="talentId != null">
        #{talentId,jdbcType=BIGINT},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="ptCategory != null">
        #{ptCategory,jdbcType=VARCHAR},
      </if>
      <if test="pqCategory != null">
        #{pqCategory,jdbcType=VARCHAR},
      </if>
      <if test="talentCategory != null">
        #{talentCategory,jdbcType=CHAR},
      </if>
      <if test="honourId != null">
        #{honourId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.TalentCertificationInfoPO">
    update t_talent_certification_info
    <set>
      <if test="talentId != null">
        talent_id = #{talentId,jdbcType=BIGINT},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="ptCategory != null">
        pt_category = #{ptCategory,jdbcType=VARCHAR},
      </if>
      <if test="pqCategory != null">
        pq_category = #{pqCategory,jdbcType=VARCHAR},
      </if>
      <if test="talentCategory != null">
        talent_category = #{talentCategory,jdbcType=CHAR},
      </if>
      <if test="honourId != null">
        honour_id = #{honourId,jdbcType=VARCHAR},
      </if>
    </set>
    where tci_id = #{tciId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.TalentCertificationInfoPO">
    update t_talent_certification_info
    set talent_id = #{talentId,jdbcType=BIGINT},
      education = #{education,jdbcType=VARCHAR},
      pt_category = #{ptCategory,jdbcType=VARCHAR},
      pq_category = #{pqCategory,jdbcType=VARCHAR},
      talent_category = #{talentCategory,jdbcType=CHAR},
      honour_id = #{honourId,jdbcType=VARCHAR}
    where tci_id = #{tciId,jdbcType=BIGINT}
  </update>
  <select id="selectByTalentId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_talent_certification_info
    where talent_id = #{talentId,jdbcType=BIGINT}
  </select>
  <select id="queryCertTalent" resultType="com.talentcard.common.bo.TalentCertificationBO">
    select t.talent_id as tId,
    t.open_id as openId,
    t.create_time as cTime,
    t.`name` as name,
    t.sex as sex,
    tci.education as educ,
    tci.pt_category as title,
    tci.pq_category as quality,
    tci.talent_category as category,
    tci.honour_id as honour,
    c.title as cTitle,
    c.initial_word as cInitialWord
    from t_talent t
    left join t_talent_certification_info tci on t.talent_id = tci.talent_id
    left join t_user_card uc on t.talent_id = uc.talent_id
    left join t_card c on c.card_id = uc.card_id
    where t.status = 1 and uc.status = 2
    and t.dr=1
    <if test="start != null and start !=''">
      and <![CDATA[ t.create_time >= #{start}]]>
    </if>
    <if test="end != null and end !=''">
      and <![CDATA[ t.create_time <= #{end}]]>
    </if>
    <if test="name != null and name !=''">and t.`name` like '%' #{name} '%'</if>
    <if test="sex != null and sex !=0">and t.sex = #{sex}</if>
    <if test="educ != null and educ !=0">and tci.education like '%' #{educ} '%'</if>
    <if test="title != null and title !=0">and tci.pt_category like '%' #{title} '%'</if>
    <if test="quality != null and quality !=0">and tci.pq_category like '%' #{quality} '%'</if>
    <if test="card != null and card !=''">and (uc.name like '%' #{card} '%' or uc.num like '%' #{card} '%')</if>
    <if test="category != null and category!=''">and tci.talent_category like '%' #{category} '%'</if>
    <if test="honour != null and honour != 0">and tci.honour_id like '%' #{honour} '%'</if>
    order by t.create_time desc
  </select>
</mapper>