<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.UserCurrentInfoMapper">
  <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.UserCurrentInfoPO">
    <id column="uci_id" jdbcType="BIGINT" property="uciId" />
    <result column="talent_id" jdbcType="BIGINT" property="talentId" />
    <result column="political" jdbcType="TINYINT" property="political" />
    <result column="education" jdbcType="INTEGER" property="education" />
    <result column="school" jdbcType="CHAR" property="school" />
    <result column="first_class" jdbcType="TINYINT" property="firstClass" />
    <result column="major" jdbcType="CHAR" property="major" />
    <result column="pt_category" jdbcType="INTEGER" property="ptCategory" />
    <result column="pt_info" jdbcType="CHAR" property="ptInfo" />
    <result column="pq_category" jdbcType="INTEGER" property="pqCategory" />
    <result column="pq_info" jdbcType="CHAR" property="pqInfo" />
    <result column="talent_category" jdbcType="CHAR" property="talentCategory" />
  </resultMap>
  <sql id="Base_Column_List">
    uci_id, talent_id, political, education, school, first_class, major, pt_category, 
    pt_info, pq_category, pq_info, talent_category
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_current_info
    where uci_id = #{uciId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user_current_info
    where uci_id = #{uciId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.talentcard.common.pojo.UserCurrentInfoPO">
    insert into t_user_current_info (uci_id, talent_id, political, 
      education, school, first_class, 
      major, pt_category, pt_info, 
      pq_category, pq_info, talent_category
      )
    values (#{uciId,jdbcType=BIGINT}, #{talentId,jdbcType=BIGINT}, #{political,jdbcType=TINYINT}, 
      #{education,jdbcType=INTEGER}, #{school,jdbcType=CHAR}, #{firstClass,jdbcType=TINYINT}, 
      #{major,jdbcType=CHAR}, #{ptCategory,jdbcType=INTEGER}, #{ptInfo,jdbcType=CHAR}, 
      #{pqCategory,jdbcType=INTEGER}, #{pqInfo,jdbcType=CHAR}, #{talentCategory,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.talentcard.common.pojo.UserCurrentInfoPO">
    insert into t_user_current_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uciId != null">
        uci_id,
      </if>
      <if test="talentId != null">
        talent_id,
      </if>
      <if test="political != null">
        political,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="school != null">
        school,
      </if>
      <if test="firstClass != null">
        first_class,
      </if>
      <if test="major != null">
        major,
      </if>
      <if test="ptCategory != null">
        pt_category,
      </if>
      <if test="ptInfo != null">
        pt_info,
      </if>
      <if test="pqCategory != null">
        pq_category,
      </if>
      <if test="pqInfo != null">
        pq_info,
      </if>
      <if test="talentCategory != null">
        talent_category,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uciId != null">
        #{uciId,jdbcType=BIGINT},
      </if>
      <if test="talentId != null">
        #{talentId,jdbcType=BIGINT},
      </if>
      <if test="political != null">
        #{political,jdbcType=TINYINT},
      </if>
      <if test="education != null">
        #{education,jdbcType=INTEGER},
      </if>
      <if test="school != null">
        #{school,jdbcType=CHAR},
      </if>
      <if test="firstClass != null">
        #{firstClass,jdbcType=TINYINT},
      </if>
      <if test="major != null">
        #{major,jdbcType=CHAR},
      </if>
      <if test="ptCategory != null">
        #{ptCategory,jdbcType=INTEGER},
      </if>
      <if test="ptInfo != null">
        #{ptInfo,jdbcType=CHAR},
      </if>
      <if test="pqCategory != null">
        #{pqCategory,jdbcType=INTEGER},
      </if>
      <if test="pqInfo != null">
        #{pqInfo,jdbcType=CHAR},
      </if>
      <if test="talentCategory != null">
        #{talentCategory,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.UserCurrentInfoPO">
    update t_user_current_info
    <set>
      <if test="talentId != null">
        talent_id = #{talentId,jdbcType=BIGINT},
      </if>
      <if test="political != null">
        political = #{political,jdbcType=TINYINT},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=INTEGER},
      </if>
      <if test="school != null">
        school = #{school,jdbcType=CHAR},
      </if>
      <if test="firstClass != null">
        first_class = #{firstClass,jdbcType=TINYINT},
      </if>
      <if test="major != null">
        major = #{major,jdbcType=CHAR},
      </if>
      <if test="ptCategory != null">
        pt_category = #{ptCategory,jdbcType=INTEGER},
      </if>
      <if test="ptInfo != null">
        pt_info = #{ptInfo,jdbcType=CHAR},
      </if>
      <if test="pqCategory != null">
        pq_category = #{pqCategory,jdbcType=INTEGER},
      </if>
      <if test="pqInfo != null">
        pq_info = #{pqInfo,jdbcType=CHAR},
      </if>
      <if test="talentCategory != null">
        talent_category = #{talentCategory,jdbcType=CHAR},
      </if>
    </set>
    where uci_id = #{uciId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.UserCurrentInfoPO">
    update t_user_current_info
    set talent_id = #{talentId,jdbcType=BIGINT},
      political = #{political,jdbcType=TINYINT},
      education = #{education,jdbcType=INTEGER},
      school = #{school,jdbcType=CHAR},
      first_class = #{firstClass,jdbcType=TINYINT},
      major = #{major,jdbcType=CHAR},
      pt_category = #{ptCategory,jdbcType=INTEGER},
      pt_info = #{ptInfo,jdbcType=CHAR},
      pq_category = #{pqCategory,jdbcType=INTEGER},
      pq_info = #{pqInfo,jdbcType=CHAR},
      talent_category = #{talentCategory,jdbcType=CHAR}
    where uci_id = #{uciId,jdbcType=BIGINT}
  </update>

  <update id="updateCategoryByTalentId">
    update t_user_current_info
    set talent_category = #{talentCategory,jdbcType=CHAR}
    where talent_id = #{talentId,jdbcType=BIGINT}
  </update>
</mapper>