<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talentcard.common.mapper.UserCardMapper">
  <resultMap id="BaseResultMap" type="com.talentcard.common.pojo.UserCardPO">
    <id column="uc_id" jdbcType="BIGINT" property="ucId" />
    <result column="talent_id" jdbcType="BIGINT" property="talentId" />
    <result column="card_id" jdbcType="BIGINT" property="cardId" />
    <result column="name" jdbcType="CHAR" property="name" />
    <result column="num" jdbcType="CHAR" property="num" />
    <result column="current_num" jdbcType="CHAR" property="currentNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    uc_id, talent_id, card_id, `name`, num, current_num, create_time, `status`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_card
    where uc_id = #{ucId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user_card
    where uc_id = #{ucId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.talentcard.common.pojo.UserCardPO">
    insert into t_user_card (uc_id, talent_id, card_id, 
      `name`, num, current_num, create_time, 
      `status`)
    values (#{ucId,jdbcType=BIGINT}, #{talentId,jdbcType=BIGINT}, #{cardId,jdbcType=BIGINT}, 
      #{name,jdbcType=CHAR}, #{num,jdbcType=CHAR}, #{currentNum,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.talentcard.common.pojo.UserCardPO">
    insert into t_user_card
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ucId != null">
        uc_id,
      </if>
      <if test="talentId != null">
        talent_id,
      </if>
      <if test="cardId != null">
        card_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="currentNum != null">
        current_num,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="status != null">
        `status`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ucId != null">
        #{ucId,jdbcType=BIGINT},
      </if>
      <if test="talentId != null">
        #{talentId,jdbcType=BIGINT},
      </if>
      <if test="cardId != null">
        #{cardId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=CHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=CHAR},
      </if>
      <if test="currentNum != null">
        #{currentNum,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.talentcard.common.pojo.UserCardPO">
    update t_user_card
    <set>
      <if test="talentId != null">
        talent_id = #{talentId,jdbcType=BIGINT},
      </if>
      <if test="cardId != null">
        card_id = #{cardId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=CHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=CHAR},
      </if>
      <if test="currentNum != null">
        current_num = #{currentNum,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where uc_id = #{ucId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.talentcard.common.pojo.UserCardPO">
    update t_user_card
    set talent_id = #{talentId,jdbcType=BIGINT},
      card_id = #{cardId,jdbcType=BIGINT},
      `name` = #{name,jdbcType=CHAR},
      num = #{num,jdbcType=CHAR},
      current_num = #{currentNum,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      `status` = #{status,jdbcType=TINYINT}
    where uc_id = #{ucId,jdbcType=BIGINT}
  </update>
  <select id="findUserCardExist" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    count(uc.uc_id)
    from t_user_card uc
    left join t_talent t
    on t.talent_id = uc.talent_id
    where
    t.open_id = #{openId,jdbcType=CHAR}
    and
    uc.status = 1
  </select>
  <select id="findCurrentCard" resultType="java.util.HashMap">
    select
    wx_card_id as cardId, num as code, t.talent_id as talentId,
    uc.current_num as currentNum
    from t_user_card uc
    left join t_talent t
    on t.talent_id = uc.talent_id
    left join t_card c
    on uc.card_id = c.card_id
    where
    t.open_id = #{openId,jdbcType=CHAR}
    and
    uc.status = #{status,jdbcType=TINYINT}
  </select>
  <update id="updateStatusById">
    update t_user_card u
    set u.status = #{status}
    where u.talent_id = #{talentId,jdbcType=BIGINT}
    and
    u.status = #{currentStatus,jdbcType=BIGINT}
  </update>

  <update id="updateStatusByTalentId" parameterType="com.talentcard.common.pojo.UserCardPO">
     update t_user_card
     set `status` = #{status}
     where talent_id = #{talentId,jdbcType=BIGINT} and card_id = #{cardId,jdbcType=BIGINT}
  </update>

  <select id="findOpenIdByCardNum" resultType="java.lang.String">
    select
    open_id
    from t_user_card uc
    left join t_talent t
    on t.talent_id = uc.talent_id
    where
    uc.status = 2
    and
    uc.num = #{cardNum, jdbcType=CHAR}
  </select>
</mapper>